.chatbot {
    display: flex;
    width: 100%;
    height: calc(100vh - 80px);
    background-color: #fcfcfc;
}

.chatbot .sideBar {
    width: 25%;
    /* height: 100%; */
    overflow-y: scroll;
    padding: 1em;
    padding-bottom: 0;
    border-right: 1px solid grey;
}

.chatbot .sideBar .newChatBtn {
    background-color: rgb(200, 196, 196);
    font-size: 20px;
    font-weight: 400;
    color: black;
    border: none;
    border-radius: 50%;
    padding: 4px 8px;
    margin-bottom: 8px;
}

.chatbot .sideBar .openChatWindow {
    cursor: pointer;
    margin: 8px 0;
    padding: 8px;
    border-radius: 4px;
}

.chatbot .sideBar .openChatWindow:hover {
    background-color: rgba(236, 236, 236, 0.8);
}

.chatbot .sideBar .activeThread {
    cursor: pointer;
    margin: 8px 0;
    background-color: rgba(236, 236, 236, 0.8);
    padding: 8px;
    border-radius: 4px;
}

.chatbot .main {
    width: 75%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    padding: 30px 20px 0 20px;
}

.chatbot .main .title {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.chatbot .main .chatResponse {
    height: 100%;
    overflow-y: auto;
    margin-bottom: 0;

    display: flex;
    flex-direction: column;
    gap: 12px;
}

.chatbot .main .chatResponse .user {
    align-self: flex-end;
    max-width: 70%;
    padding: 12px 16px;
    border-radius: 16px;
    background: #e9ecef;
    color: black;
    word-break: break-word;
    margin-bottom: 20px;
}

.chatbot .main .chatResponse .ai {
    align-self: flex-start;
    max-width: 70%;
    padding: 12px 16px;
    border-radius: 16px;
    background: #e9ecef;
    color: #000;
    word-break: break-word;
    margin-bottom: 20px;
}

.chatbot .main .chatArea {
    width: 50%;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.chatbot .main .chatArea .userInput {
    background-color: #fff;
    width: 100%;
    padding: 16px 60px 16px 16px;
    border-radius: 24px;
    box-sizing: border-box;
    border: 1px solid gray;
}

/* Style applied when the user clicks or tabs into the input */
.chatbot .main .chatArea .userInput:focus {
    border-color: none;
    /* Changes border to blue */
    outline: none;
    /* Removes the default browser ring */
}

.chatbot .main .chatArea .submitInput {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    background-color: black;
    color: white;
    border-radius: 50%;
    padding: 8px 12px;
    border: 0;
    font-weight: bolder;
}